@import url("https://fonts.googleapis.com/css?family=Hind:600,700|Open+Sans:400,600,700&display=swap")

.theme-container .home
  max-width 1200px

.theme-container
  font-family "Open Sans", sans-serif

.theme-container h1, h2, h3, h4, h5, h6
  font-family: Hind, sans-serif
  letter-spacing -1px

.home .hero .action .nav-link.action-button
  padding .4rem 1.25rem
  font-size 1.25rem

.home .features
  flex-wrap: nowrap
  padding: 0

.home .features .feature
  flex-basis: auto
  max-width: 47%

.home .features .feature:first-child
  margin-right: 20px