@import url("https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans&display=swap")

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body
    @apply font-body;

.theme-container
    font-family "Open Sans", sans-serif

.theme-container h1, h2, h3, h4, h5, h6
    position: relative
    padding-top: 5rem
    @apply font-bold

    .header-anchor
        @apply text-navy-500
.theme-container h1
    padding-top: 0;
.container
    @apply px-10

.page h1, h2, h3, h4, h5, h6
    @apply mb-2 mt-4 tracking-tighter

.page p
    @apply mt-4 mb-6

.page blockquote
    @apply italic
    border-color theme('colors.navy.500')
    border-left-width 5px

    p
      @apply mt-2 mb-3

.page code
    @apply bg-info-100 p-1

.page pre code
    @apply bg-transparent

h1
    @apply text-4xl

h2
    @apply text-3xl border-0

h3
    @apply text-2xl

h4
    @apply text-xl

h5
    @apply text-lg

h6
    @apply text-base

ul
    @apply list-disc ml-5

.container a
    @apply text-navy-500

a.header-anchor
    @apply pr-0
h2
    margin-top: -5rem
* + h2, div + h2, div + h3, * + h3
    margin-top: -4rem
h1 + h2
    margin-top: -2rem
h2 ~ h3 ~ h4
    margin-top: -4rem !important
h2 + h3 + h4
    margin-top: -4rem !important;

.content__default > *:not(h1):not(h2):not(h3):not(h4)
    @apply relative z-20

h1, h2, h3, h4
    @apply z-10

.navbar
    @apply z-50

div[class*="language-"] pre
    position: relative
    .code-copy
        position: absolute
        top: 1em !important
        right: 1em !important
